<?xml version="1.0"?>

<model>
  <name>New York Track</name>
  <version>1.0</version>
  <--sdf version="1.3">model_1-4.sdf</sdf-->
  <--sdf version="1.4">model_1-4.sdf</sdf-->
  <--sdf version="1.5">model_1-4.sdf</sdf-->
  <sdf>model_1-4.sdf</sdf>
  
  <author>
    <name>Volker Grabe</name>
    <email>volker.grabe@gmail.com</email>
  </author>

  <description>
    Powerwheels track maker fair New York
  </description>
</model>
