<launch>

  <param name="use_sim_time" value="false" />


  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
    <!-- false: Starts up faster, but timestamps will be inaccurate. --> 
    <param name="calibrate_time" type="bool" value="true"/> 
    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00"/> 
    <param name="intensity" type="bool" value="false"/>
    <param name="max_ang" value="2.2689 "/>
    <param name="min_ang" value="-2.2689 "/>
  </node>

  <node name="gmapping_node" pkg="gmapping" type="slam_gmapping" respawn="false" output="screen">
    <param name="scan" value="scan"/>         <!-- name of the laser topic -->
    <param name="xmin" value="-50.0"/>        <!-- dimensions of the octomap -->
    <param name="xmax" value="50.0"/>
    <param name="ymin" value="-50.0"/>
    <param name="ymax" value="50.0"/>
    <param name="delta" value="0.02"/>        <!-- resolution of the octomap -->
    <param name="maxUrange" value="5.0"/>     <!-- usable range of the laser scanner -->
    <param name="linearUpdate" value="1"/>
    <param name="angularUpdate" value="0.5"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="minimumScore" value="50"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="baselink_laser_broadcaster" args="0 0 0 0 0 0 1 base_link laser 100" />
  
<!--
  <node pkg="tf" type="static_transform_publisher" name="odom_baselink_broadcaster" args="0 0 0 0 0 0 1 odom base_link 100" />
-->
  
  <!-- 
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find appprs_main)/config/rviz.rviz"/>
  -->
  
</launch>
