<launch>

  <param name="use_sim_time" value="true" />

  <!--node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find appprs_main)/config/laser_filter.yaml" />
    <remap from="scan" to="base_scan" />
  </node-->

  <node name="gmapping_node" pkg="gmapping" type="slam_gmapping" respawn="false" output="screen">
    <param name="scan" value="scan"/>         <!-- name of the laser topic -->
    <param name="xmin" value="-100.0"/>        <!-- dimensions of the octomap -->
    <param name="xmax" value="100.0"/>
    <param name="ymin" value="-100.0"/>
    <param name="ymax" value="100.0"/>
    <param name="delta" value="0.02"/>        <!-- resolution of the octomap -->
    <param name="maxUrange" value="15.0"/>     <!-- usable range of the laser scanner -->
    <param name="maxRange" value="15.0"/>     
    <param name="linearUpdate" value="1"/>
    <param name="angularUpdate" value="0.5"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="minimumScore" value="50"/>

  </node>

  <node pkg="tf" type="static_transform_publisher" name="baselink_laser_broadcaster" args="0 0 0 0 0 0 1 base_link laser 100" />
  
  <!--node pkg="tf" type="static_transform_publisher" name="odom_baselink_broadcaster" args="0 0 0 0 0 0 1 odom base_link 100" /-->

 <!--node pkg="tf" type="static_transform_publisher" name="odom_baselink_broadcaster" args="0 0 0 0 0 0 1 odom way_point 100" /-->
  
  <!-- 
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find appprs_main)/config/rviz.rviz"/>
  -->
     <!-- run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find appprs_main)/config/rviz.rviz" />

</launch>
