 <launch>

	<include file="$(find ros_car)/launch/amcl_demo.launch" />

    <param name="odom_alpha1"               value="1.0"/>
    <param name="odom_alpha2"               value="1.0"/>
    <param name="odom_alpha3"               value="1.0"/>
    <param name="odom_alpha4"               value="1.0"/>

	<param name ="use_sim_time" value="true"/>

 </launch>
